/* Reset */
body {
  margin: 0;
}

/* Geral */
html {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, p, span {
  margin: 0;
  color: #666;
}

.container {
  max-width: 1920px;
  width: 100%;
}

/* Header */
header {
  position: relative;
  top: 0;
  height: auto;
  width: 100%;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

nav:after {
  clear: both;
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  background-color: transparent;
}

.nav-container {
  max-width: 1200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

#logo {
  width: 105px;
  height: 100px;
  margin-top: 0px;
}

.nav-container ul {
  float: right;
  height: 100px;
  line-height: 100px;
  margin: 0;
}

.nav-container li {
  list-style: none;
  float: left;
  margin: 0 15px;
}

.nav-container li a {
  text-decoration: none;
  color: #666;
  transition: .5s;
}

.nav-container li a:hover {
  color: #003c96;
}

/* Banner */
#main-banner {
  background-color: red; /* Substituí essa linha pela próxima, já que a propriedade 'background' é sobrescrita */
  background: url(../img/banner6.jpg) no-repeat center/cover;
  position: relative;
  margin-top: 100px;
}

#search-form {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15em;
  padding-bottom: 15em;
  text-align: center;
}

#search-form h1 {
  font-size: 40px;
}

#search-form p {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 300;
}

/* Formulário */
#search-form input, #search-form select {
  background-color: #ffffff;
  text-transform: uppercase;
  border-color: transparent;
  padding: 10px 20px;
  font-size: 18px;
  margin: 0 10px;
}

#search-form input[type="submit"] {
  background-color: #000000;
  color: #ffffff; /* Adicionei a cor do texto para que seja visível */
  border: none; /* Removi a borda para o botão de envio */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adicionei transição para suavizar a mudança de cor */
}

#search-form input[type="submit"]:hover {
  background-color: #333333; /* Alterei a cor de fundo ao passar o mouse */
}
